@media only screen and (max-width: 1920px) {
  .morePhoto img:nth-child(3) {
    display: block;
  }

  .morePhoto img:nth-child(4) {
    display: block;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  }

  .events_mobile {
    display: none;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  .eventsForTable {
    display: none;
  }

}

@media only screen and (max-width: 1200px) {
  .subtitle {
    width: 70%;
    margin: auto;
    font-family: inherit;
    font-weight: 400;
    color: black;
    text-align: left;
    font-size: 21px;
    margin-top: 25px;
  }

  .content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 1024px;
  }

  .header__list {
    padding-right: 20px;
  }

  .trainerSubTitle {
    padding: 0px 10px 0px 10px;
  }

  .trainerName {
    text-align: center;
  }

  .goToVideo {
    text-align: center;
  }

  .message {
    text-align: center;
  }

  .morePhoto img:nth-child(3) {
    display: block;
  }

  .morePhoto img:nth-child(4) {
    display: block;
  }

  .blockSideContent {
    padding-top: 20px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 55px;
    color: #2c2c2c;
    text-align: center;
  }

  .subtitle {
    width: 65%;
    margin: auto;
    font-family: inherit;
    font-weight: 400;
    color: black;
    font-size: 22px;
    text-align: left;
    margin-top: 31px;
  }

  .answer {
    position: relative;
  }

  .ul-item {
    width: 75%;
    display: flex;
    margin-top: 15px;
    margin: auto;
  }

  .ul-item a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #97c249;
  }

  .trainers {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 55px;
    position: relative;
  }

  .trainerinfo {
    text-align: center;
  }

  .trainerName {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 30px;
    text-align: center;
  }

  .trainerSubTitle {
    width: 50%;
    margin: auto;
    text-align: left;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .goToVideo {
    width: 95%;
    text-align: center;
  }

  .message {
    width: 100%;
    margin: auto;
  }

  .message img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
  }
}

@media (max-width: 823px) {
  .header__body {
    height: 50px;
  }

  .header__logo {
    flex: 0 0 51px;
    padding-left: 15px;
  }

  .nameLogo {
    position: absolute;
    z-index: 2;
    left: 70px;
    font-size: 43px;
    padding: 0px 0px 7px 0px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 15px;
  }

  .header__burger span {
    background-color: #2c2c2c;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 1s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #2c2c2c;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 90%;
    background-color: rgb(243, 220, 190);
    padding: 55px 0px 0px 0px;
  }

  .header__menu.active {
    transition-duration: 0.5s;
    top: 40px;
  }

  .header__list {
    display: block;
    padding: 0;
  }

  .header__list li {
    padding: 0px 0px 20px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 768px;
  }

  .publicMessage img {
    padding: 5px;
  }

  .nameLogo {
    left: 19%;
    top: 7%;
    font-size: 55px;
  }

  .header__logo {
    position: relative;
    left: 60px;
    flex: 0 0 65px;
  }

  .morePhoto img:nth-child(3) {
    display: block;
  }

  .morePhoto img:nth-child(4) {
    display: block;
  }

  .events {
    display: none;
  }

  .events_mobile {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 25px;
  }

  .eventsForTable {
    display: grid;
  }

  .logo img {
    height: 70px;
  }

  .nameLogoFooter {
    left: 70px;
    font-size: 50px;
    padding: 0px 0px 0px 15px;
  }
  .event {
    font-size: 45px;
  }

  .event span {
    font-size: 20px;
  }

  .listEvents {
    padding: 0 20px 0 20px;
  }

  .publicMessage {
    padding: 12px;
  }
  
  .publicMessage img {
    width: 30px;
    height: 30px;
  }

  .trenerCard {
    margin-top: 20px;
  }

  .header__body  {
    height: 100px;
  }
  
  .header__burger {
    width: 50px;
    height: 35px;
    position: absolute;
    right: 7%;
  }

  .header__burger::before,
  .header__burger::after {
    height: 4px;
  }

  .header__burger span {
    top: 15px;
    height: 4px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 15px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 15px;
  }

  .blogTitle {
    font-size: 30px;
  }

  .blogSubTitle {
    font-size: 17px;
  }

}

@media only screen and (max-width: 425px) {
  .marketBlock {
    grid-template-columns: 1fr 1fr;
  }

  .blockSideContent {
    padding-top: 12px;
    font-size: 18px;
  }

  .classesList {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 17px;
  }

  .ul-item a {
    font-size: 17px;
    padding: 10px 0px 0px 0px;
  }

  .header {
    width: 425px;
  }

  .nameLogo {
    left: 23%;
    top: 14%;
    font-size: 45px;
  }

  .cardContent {
    text-align: center;
  }

  .morePhoto {
    grid-template-columns: 1fr 1fr;
  }

  .morePhoto img:nth-child(3) {
    display: none;
  }

  .morePhoto img:nth-child(4) {
    display: none;
  }

  .event {
    display: block;
  }

  .event p {
    text-align: center;
  }

  .event span {
    display: block;
    padding: 30px 10px 0 10px;
    text-align: center;
  }

  .events_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  .eventsForTable {
    display: none;
  }

  .logo img {
    padding: 0px 0px 0px 50px;
  }

  .header__logo {
    position: relative;
    left: 15px;
    flex: 0 0 60px;
  }

  .header__burger {
    width: 35px;
    height: 25px;
  }

  .header__burger span {
    top: 11px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 13px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .titleContact  {
    font-size: 60px;
  }

  .info {
    font-family: inherit;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeTableTitle {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 55px;
  }

  .menuTimeTable-item {
    font-size: 11px;
  }

  .locationContact {
    font-size: 25px;
  }
  
  .weAreOpen {
    font-size: 25px;
  }


}

@media only screen and (max-width: 375px) {
  .header {
    width: 375px;
  }

  .karuselTitle {
    font-family: inherit;
    font-weight: 300;
    color: #2c2c2c;
    font-size: 50px;
  }

  .blockSideContent {
    padding-top: 20px;
    font-size: 15px;
  }

  .marketBlock {
    grid-template-columns: 1fr 1fr;
    
  }

  .classesList {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 17px;
  }
  .ul-item a {
    font-size: 17px;
    padding: 10px 0px 0px 0px;
  }

  .classesCard {
    text-align: center;
    padding: 0px 10px 0px 0px;
  }

  .bookNow {
    width: 145px;
    height: 45px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #97c249;
    padding-top: 2px;
    margin-top: 10px;
    border-radius: 50px;
    border: solid 2px #97c249;
  }

  .nameLogo {
    font-family: 'Meyling-1';
    top: 16%;
    left: 26%;
    font-size: 42px;
  }

  .menuTimeTable-item {
    font-size: 10px;
  }

  .bgWorkshop {
    margin-top: 50px;
  }

  .titleWorkshop {
    text-align: center;
    font-size: 65px;
    padding: 30px 0px 0px 0px;
  }

  .subTitleWorkshop {
    text-align: center;
    padding: 30px 0px 0px 0px;
  }

  .event {
    padding: 0;
  }

  .event p {
    text-align: center;
    font-size: 40px;
  }

  .line {
    margin: 0;
  }

  .listEvents > li > a > span {
    display: block;
    font-size: 20px;
    padding: 10px 10px 0 10px;
    text-align: center;
  }

  .listEvents {
    padding: 0;
  }

  .locationContact {
    font-size: 25px;
  }

  .locationContact span {
    font-size: 35px;
  }

  .weAreOpen {
    font-size: 25px;
  }

  .weAreOpen span {
    font-size: 35px;
  }

  .email {
    font-size: 25px;
    padding: 0;
  }

  .email span {
    font-size: 35px;
  }

  .ContactUs {
    padding: 0px 10px 0px 10px;
  }

  .titleContact {
    font-size: 50px;
    text-align: center;
  }

  .event {
    display: block;
  }

  .events_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
  }

  .header__logo {
    position: relative;
    left: 24px;
    flex: 0 0 55px;
  }

  .header__burger {
    width: 30px;
    height: 23px;
  }

  .header__burger span {
    top: 10px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 11px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .info {
    font-family: inherit;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
  }

  .line {
    margin: 30px 0 30px 0;
  }

  .classesTitle {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    font-family: inherit;
  }

  .timeTableTitle  {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 50px;

  }

  .menuTimeTable-item {
    padding: 2px;
  }

}

@media only screen and (max-width: 320px) {

   .header {
      width: 320px;
   }

   .classesList {
      grid-template-columns: 1fr ;
   }

   .publicInfo {
       width: 320px;
   }

   .nameLogoFooter {
    left: 70px;
    font-size: 50px;
    padding: 0px 0px 0px 15px;
   }

   .logo img {
     height: 80px;
     padding: 0 0 0 30px;
   }

   .blockSideContent {
     padding-top: 10px;
     font-size: 13px;
   }

   .header__logo {
     position: relative;
     flex: 0 0 45px;
     left: 5%;
   }

   .nameLogo {
    top: 19%;
    left: 50%;
    font-size: 37px;

   }

   .header__burger {
     width: 30px;
     height: 20px;
   }

   .header__burger span {
     top: 8px;
   }

   .event {
     display: block;
   }

  .info {
      font-family: inherit;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
   }

   .titleWorkshop {
     font-size: 45px;
   }

   .event p {
     font-size: 40px;
   }

   .listEvents > li > a > span {
     font-size: 23px;
   }

   .timeTableTitle  {
     font-size: 35px;
   }

   .classesTitle  {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    font-family: inherit;
    
   }

   .titleContact  {
     font-size: 45px;
   }
   
   .locationAndContact span {
    position: relative;
    left: 0%;
   }

   .publicMessage {
    position: relative;
    left: 0%;
   }
}
