.blogImg {
  width: 100%;
}

.blogImg img {
  width: 100%;
}

.blogTitle {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.blogSubTitle {
  margin-top: 30px;
  font-size: 14px;
  text-align: left;
  padding: 0px 30px;
}
