.locationContact {
  & span {
    font-size: 40px;
  }
  font-size: 30px;
  text-align: center;
  padding-bottom: 45px;
}

.weAreOpen {
  & span {
    font-size: 40px;
  }
  font-size: 30px;
  text-align: center;
  padding-bottom: 45px;
}

.email {
  & span {
    font-size: 40px;
  }
  font-size: 30px;
  text-align: center;
  padding-bottom: 45px;
}

.infoforUser {
  margin-top: 30px;
}

.titleContact {
  font-size: 65px;
}
